#sobrenosdiv{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    background-color: #EEEEEE;
}
#quemsomosdiv{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    background-color: #EEEEEE;
}
#comofunfadiv{ 
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    background-color: #EEEEEE;
}
#campotexto1{
    font-size: larger;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;

}
#campotexto2{
    font-size: larger;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
}
#cabeca2{
    text-align: left;
}
.logo {
    text-align: center;
    width: 100px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
