.btn {
    font-size: large;
    width: 300px;
    height: 40px;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: auto;
}
.logo {
    width: 100px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.footer{
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    height : 260px;
    width: auto;
}
#footertexto{
    text-align: right;
    margin-right: 10px;
}
#SobreNos {
    background-color: transparent;
    border: none;
    
}
#SobreNos:hover {
    background-color:bisque 
}
#cabeca1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#mercados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}