#background{
    text-align: center;
    font: normal 16px Arial, Verdana, Serif;
    background-color: rgb(221, 221, 142) ;
}

#nomeusuario{
    font-size: larger;
}
#cpfusuario{
    font-size: larger;
}
#emailusuario{
    font-size: larger;
}
.camposusuarios{
    height: 20px;
}
.logo {
    text-align: center;
    width: 100px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}