#background{
    text-align: center;
    font: normal 16px Arial, Verdana, Serif;
    background-color: rgb(221, 221, 142) ;
    display: inline-block;
}

#nomeusuario{
    text-align: right;
    font-size: larger;
    margin-top: auto;
}
#cpfusuario{
    font-size: larger;
    margin-top: auto;
}
#emailusuario{
    font-size: larger;
    margin-top: auto;
}
.camposusuarios{
    margin-left: auto;
    width: 1000px;
    height: 40px;
    margin-top: 100px;
}
.logo {
    text-align: center;
    width: 100px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}