.logo {
    text-align: center;
    width: 100px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#cabeca1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#grandediv{
    text-align: center;
}
#cancelarcompra, #finalizarcompra {
    text-align: center;
    font-size: large;
    width: 300px;
    height: 80px;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: auto;
}